[run]
source = calculator

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    pass
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*
    setup.py

[html]
directory = coverage_html_report
